<div class="container">
	<div class='row'>
		<!-- Navigation -->
	    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
		      		<ul class="nav navbar-nav">
		      			<li><a href="/">Home</a></li>
		        		<li><a href="/game">Ball Maze</a></li>
		        		<li><a href="/arbitrage">Arbitrage Calculator</a></li>
		        		<li><a href="/documentation">Documentation</a></li>
		      		</ul>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            <ul class="nav navbar-nav navbar-right">
		                <li class="hidden">
		                    <a href="#page-top"></a>
		                </li>
		                <li class="page-scroll">
		                    <a href="/?scrollTo=portfolio"">Portfolio</a>
		                </li>
		                <li class="page-scroll">
		                    <a href="/?scrollTo=about">About</a>
		                </li>
		            </ul>
		        </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container-fluid -->
	    </nav>
	</div>
	<!-- <input id='edit' type='button' value='Edit'>
	<input id='mapLog' type='button' value='Log Map!'>
	<text id='editTrue'>
		Map can be clicked to edit!
	</text> -->
	<div id='deathCount'>Deaths: 0&nbsp;&nbsp;&nbsp;</div>
	<div id='gameInfo'>Hover for game info</div>
	<svg id='svg' viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'></svg>
</div>
