body {
  position: relative;
}
.sidebar{
  position: absolute;
  margin-left: 5%;
  margin-top: 20px;
}
#sideNav a{
	color: #4d4d4d;
}
#ballMaze li{
	padding-left: 10px;
	margin-bottom: 4px;
}
#arbDoc li{
	padding-left: 10px;
	margin-bottom: 4px;
}
.top{
	margin-top: 100px;
	padding-bottom: 20px;
	margin-left: 35px;
	margin-right: 20px;
}
.nontop{
	margin-left: 20px;
	margin-right: 10px;
	padding-bottom: 20px;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}
li {
    list-style-type: none;
}
#bot{
	width: 100%;
	padding-top: 30%;
}
.titleDoc{
	background: #63498b;
	color: white;
	margin-left: 5px;
}
.topDoc{
	padding-bottom: 20px;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 20px;
}
.topDocTitle{
	margin-top: 80px;
	padding-bottom: 20px;
}