body {
  position: relative;
}
.sidebar{
  border: 1px solid black;
  position: absolute;
  margin-left: 5%;
  margin-top: 20px;
}

.top{
	margin-top: 100px;
	padding-bottom: 20px;
	margin-left: 35px;
	margin-right: 20px;
}
.nontop{
	margin-left: 35px;
	margin-right: 20px;
	padding-bottom: 20px;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}
li {
    list-style-type: none;
}
#bot{
	width: 100%;
	padding-top: 30%;
}
.titleDoc{
	background: #63498b;
	color: white;
}
.topDoc{
	padding-bottom: 20px;
	margin-left: 35px;
	margin-right: 20px;
	margin-top: 20px;
}
.topDocTitle{
	margin-top: 80px;
	padding-bottom: 20px;
}